<link rel="stylesheet" href="https://use.typekit.net/wee2inf.css">
<!-- Navigation Bar -->
<nav class="navbar">
  <div class="logo">
    <img href="../../index.html" src="../resources/media/NovaTentLogo_NoText.png" alt="NOVA Tent Logo" class="nav-logo">
    <a href="../../index.html">NOVA Tent</a>
  </div>
  <div class="menu-btn">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul class="nav-links">
    <li><a href="../index.html">Home</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle">Build Log</a>
      <ul class="dropdown-menu">
        <li><a href="../pages/materials-testing.html">Testing</a></li>
        <li class="dropdown iterations">
          <a href="../pages/iterations.html" class="dropdown-toggle">Iterations</a>
          <ul class="iteration-menu">
            <li><a href="../pages/iteration1.html">Iteration 1</a></li>
            <li><a href="../pages/iteration2.html">Iteration 2</a></li>
            <li><a href="../pages/iteration3.html">Iteration 3</a></li>
            <li><a href="../pages/iteration4.html">Iteration 4</a></li>
          </ul>
        </li>
        <li><a href="../pages/final.html">Final Design</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle">About</a>
      <ul class="dropdown-menu">
        <li><a href="../pages/creators.html">Creators</a></li>
        <li><a href="../pages/mentor.html">Mentor</a></li>
        <li><a href="../pages/program.html">Program</a></li>
      </ul>
    </li>
  </ul>
</nav> 